#episodios {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    padding: 2rem 2rem 18rem 2rem;
    position: relative;

    .anchor {
        top: 15px;
    }

    h2 {
        color: white;
        margin: 7rem 0 2rem 0;
    }

    iframe {
        border: none;
        margin-bottom: 1rem;
        width: 100%;
    }

    @media screen and (min-width: $tablet-breakpoint) {

        h2 {
            margin-left: 8rem;
        }

        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 3rem;
            margin: 0 8rem;
        }
    }

    @media screen and (min-width: $desktop-breakpoint) {
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);

        .anchor {
            top: 70px;
        }

        h2 {
            margin-left: 18rem;
            margin-top: 17rem;
        }

        div {
            grid-gap: 7rem;
            margin: 0 10rem;
        }
    }   
}