#novedades {
    align-items: center;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    padding: 9rem 2rem 9rem 2rem;

    h2 {
        color: white;
        text-align: center;
    }

    @media screen and (min-width: $desktop-breakpoint) {
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
        padding-top: 20rem;
    }
}