$primary-font: 'IBM Plex Sans', sans-serif;
$secondary-font: 'IBM Plex Mono', monospace;
$primary-color: #060A24;
$secondary-color: #00F3BB;
$tertiary-color: #0000EC;
$desktop-breakpoint: 1080px;
$tablet-breakpoint: 700px;